body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
    margin-top: 5vh;
    text-align: center;
    font-size: 5vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer{
    text-align: center;
    font-weight:100;
    font-size: 1.5vh;
}

#container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 2vh auto 5vh;
}

.main{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.controls{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    flex-wrap: wrap;
}

/*Grid alignment*/
#grid{
    border: 1px solid pink;
    width: 30%;
    height: 50%;
    display: grid;
}

.grid-row{
    border: 1px solid black;
    border: hidden;
    display: flex;
    flex: 1;
    
}

.cell{
    border: 0.5px solid black;
    flex: 1;
}

/*cell color effects*/